<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>地图购房系统</title>
	
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0">
	<link rel="stylesheet" href="//cdn.bootcss.com/Swiper/3.4.0/css/swiper.min.css">

	<link rel="stylesheet" href="../public/css/index.css">
	<link rel="stylesheet" href="../public/css/public.css">
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=jPZSs98a5o6ckyUtqslm6XS25MUzGSeh"></script>

</head>
<body>
	<!--首页-->
	<div class="page-box" id="home">
		<div id="map"></div>
		<div class="search">
			<div class="search-left">
				<span>北京</span>
				<i class="iconfont icon-xiala"></i>
			</div>
			<div class="search-input">
				<i class="iconfont icon-sousuo"></i>
				<input type="text" placeholder="小区、商圈、地铁">
			</div>
		</div>
	</div>

	<!--底部-->
	<footer class="footer">
		<ul class="footer-nav">
			<li class="btnclick" id="index" data-target-page="home" data-target-doc="index">
				<i class="icon-footer icon-footer1 icon-footer-click1"></i><span class="click-color">首页</span>
			</li>
			<li class="btnclick" id="order" data-target-page="order" data-target-doc="order">
				<i class="icon-footer icon-footer2 icon-footer-click2"></i><span class="click-color">预约</span>
			</li>
			<li class="btnclick" id="introduced" data-target-page="introduced" data-target-doc="introduced">
				<i class="icon-footer icon-footer3"></i>
			</li>
			<li class="btnclick" id="information" data-target-page="information" data-target-doc="information">
				<i class="icon-footer icon-footer4 icon-footer-click4"></i><span class="click-color">信息</span></li>
			<li class="btnclick" id="my" data-target-page="my" data-target-doc="my">
				<i class="icon-footer icon-footer5 icon-footer-click5"></i><span class="click-color">我</span>
			</li>
		</ul>
		<div class="return-top" id="return-top">返回顶部</div>
	</footer>
	<!--搜索框点击样式-->
	<div class="search-show">
		<div class="search-box search-box2">
			<i class="icon-search"></i>
			<input class="text-search text-search2" placeholder="挑好房，上安家安吉">
		</div>
		<span class="search-show-text">取消</span>
		<div style="height: 1000px"></div>
	</div>
</body>
<script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script src="//cdn.bootcss.com/Swiper/3.4.0/js/swiper.jquery.min.js"></script>
<script src="//cdn.bootcss.com/jquery-validate/1.14.0/jquery.validate.min.js"></script>

<script src="../public/js/base-map.js"></script>
<script src="../public/js/public.js"></script>
<script src="../public/js/index.js"></script>
</html>