page-marker-house {
    ion-title {
        text-align: center;
        font-size: 18px;
        margin-right: 5vh;
        .toolbar-title.toolbar-title-md {
            color:#ea5404;
            font-weight: bold;
        }
    }

}
